body {
  margin: 0;
}

/* solution 5 with h1 only */

/* h1 {
    background-color: #281B2D;
    color: #fff;
    text-align: center;
    font-size: 72px;
    margin-top: 0;
    padding: 25px 0;
} */

header {
  background-color: #281b2d;
  text-align: center;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 72px;
  margin-top: 0;
}

img {
  max-width: 250px;
}

a {
  color: #281b2d;
}

a:hover {
  color: #fff;
}

.subhead {
  color: #fcd801;
  font-size: 48px;
  background-color: #281b2d;
  border-bottom: 5px solid #00c54c;
  padding: 20px;
  margin-top: 0;
}

.white-text {
  color: #fff;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.columns {
  display: flex;
}

.main-content {
  width: 65%;
  margin-right: 5%;
}

.sidebar {
  width: 30%;
  background: #9ae84f;
  padding: 15px;
  -webkit-box-shadow: 22px 17px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 22px 17px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 22px 17px 5px 0px rgba(0, 0, 0, 0.75);
  margin-top: 20px;
}

.source p {
  font-size: 12px;
}

.col-right {
  margin-left: 25px;
}

.main-content {
  margin-top: 20px;
}