body {
  margin: 0;
}

/* solution 5 with h1 only */

/* h1 {
    background-color: #281B2D;
    color: #fff;
    text-align: center;
    font-size: 72px;
    margin-top: 0;
    padding: 25px 0;
} */

header {
  background-color: #281b2d;
  text-align: center;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 72px;
  margin-top: 0;
}

img {
  max-width: 500px;
}
.subhead {
  color: #fcd801;
  font-size: 48px;
  background-color: #281b2d;
  border-bottom: 5px solid #00c54c;
  padding: 20px;
}

.white-text {
  color: #fff;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
